<%= form_with(model: missing_item) do |form| %>
  <% if missing_item.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-danger"><%= pluralize(missing_item.errors.count, "error") %> prohibited this missing_item from being saved:</h5>

      <ul>
        <% missing_item.errors.each do |error| %>
          <li class="text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :region %><br />
    <%= form.text_field :region, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :city %><br />
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions my-3">
    <%= form.submit class: "general-btn" %>
  </div>
<% end %>
