
<% unless @is_search.present? %>
  <%= render "shared/header"%>
<% end %>

<div class="container">
  <h3 class="text-center my-5">Missing Items</h3>
  <div class="row">
    <div id="seaching" class="col-md-6 mx-auto search-div">
      <%= form_with url: missing_items_path(search: true), method: :get do |form| %>
        <%= form.hidden_field :search, value: true %>
        <div class="row">
          <div class="col-md-9">
            <%= form.label :name%><br />
            <%= form.text_field :name, required: true, class: "form-control"  %>
          </div>
          <div class="col-md-2"><br />
            <%= form.submit "Search", class: "general-btn" %>
          </div>
          <div class="col-md-1">
            <br>
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i style="font-size: 2em" class="fa-solid fa-arrow-down-short-wide"></i>
            </button>
          </div>
          <div class="col-md-12 py-4 px-2">
            <div id="search-accordiong" class="accordion" id="accordionExample" style="background: transparent;">
              <div class="accordion-item" style="background: transparent">
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="row">
                    <div class="col-md-5">
                      <%= form.label :city %>
                      <%= form.text_field :city, class: "form-control" %>
                    </div>
                    <div class="col-md-5">
                      <%= form.label :region %>
                      <%= form.text_field :region, class: "form-control" %>
                    </div>
                    <div class="col-md-2">
                      <%= form.label :missing %>
                      <%= form.check_box :missing %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row my-5">
    <% @missing_items.each do |missing_item| %>
      <div class="col-md-3">
        <%= link_to missing_item_path(missing_item), class: "index-missing-tiems" do %>
          <div><%= image_tag url_for(missing_item.photos.first.photo), class: "img-fluid" %></div>
          <h5 class="text-center"><%= missing_item.name %></h5>
          <div class="d-flex justify-content-between">
            <p class="time-ago"><%=time_ago_in_words(missing_item.created_at) %> ago</p>
            <p>
              <% if missing_item.is_missing %>
                <span class="badge bg-danger">Not claimed</span>
              <% elsif %>
                <span class="badge bg-info">Claimed</span>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
