<p id="notice"><%= notice %></p>

<h1>Missing Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Region</th>
      <th>City</th>
      <th>Is missing</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missing_items.each do |missing_item| %>
      <tr>
        <td><%= missing_item.name %></td>
        <td><%= missing_item.description %></td>
        <td><%= missing_item.region %></td>
        <td><%= missing_item.city %></td>
        <td><%= missing_item.is_missing %></td>
        <td><%= missing_item.user_id %></td>
        <td><%= link_to 'Show', missing_item %></td>
        <td><%= link_to 'Edit', edit_missing_item_path(missing_item) %></td>
        <td><%= link_to 'Destroy', missing_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Missing Item', new_missing_item_path %>
