<div class="container">
  <% if @missing_item.photos.empty? %>
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
      <strong>Please Add a Photo to this missing item if not it won't be listed.</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="text-center my-3">
    <% if current_user == @creator %>
      <%= link_to 'Missing Items', missing_items_path, class: "general-btn" %>
    <% end %>
    <%= link_to 'Edit', edit_missing_item_path(@missing_item), class: "general-btn" %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4 class="text-center">Photos</h4>
      <% if current_user == @creator %>
        <%= form_with(model: Photo.new) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :missing_item_id, value: @missing_item.id %>
          <div>
            <%= form.label :upload_photo %><br />
            <%= form.file_field :photo %>
          </div>
          <%= form.submit "Save Image", class: "general-btn"%>
        <% end %>
      <% end %>

      <% @missing_item.photos do |photo| %>
        <div>
          <%= image_tag url_for(photo.photo), class: "mig-fluid" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8 text-center">
      <p>
        <strong>Name:</strong>
        <%= @missing_item.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @missing_item.description %>
      </p>

      <p>
        <strong>Region:</strong>
        <%= @missing_item.region %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @missing_item.city %>
      </p>

      <p>
        <strong>Is missing:</strong>
        <%= @missing_item.is_missing %>
      </p>

    </div>
  </div>
</div>

