<div class="container">
  <% if @missing_item.photos.empty? %>
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
      <strong>Please Add a Photo to this missing item if not it won't be listed.</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="text-center my-3">
    <% if current_user == @creator %>
      <%= link_to 'Missing Items', missing_items_path, class: "general-btn" %>
      <% if @missing_item.is_missing %>
        <%= link_to "Has been claimed", toggle_status_missing_item_path(status: "claimed"), class: "claimed" %>
      <% else %>
        <%= link_to "Has not been claimed", toggle_status_missing_item_path(status: "no-claimed"), class: "not-claimed" %>
      <% end %>
    <% end %>
    <%= link_to 'Edit', edit_missing_item_path(@missing_item), class: "general-btn" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center">Photos</h4>
      <% if current_user == @creator %>
        <%= form_with(model: Photo.new) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :missing_item_id, value: @missing_item.id %>
          <div>
            <%= form.label :upload_photo %><br />
            <%= form.file_field :photo, required: true %>
          </div>
          <%= form.submit "Save Image", class: "general-btn my-3"%>
        <% end %>
      <% end %>

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @missing_item.photos.each_with_index do |photo, index| %>
            <% class_name = index == 1 ? "active" : "any-photo" %>
            <div class="carousel-item <%=class_name%>">
              <%= image_tag url_for(photo.photo), class: "img-fluid" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <h4 class="my-5">Missing Item properties</h4>
      <p>
        <strong>Name:</strong>
        <%= @missing_item.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @missing_item.description %>
      </p>

      <p>
        <strong>Region:</strong>
        <%= @missing_item.region %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @missing_item.city %>
      </p>

      <p>
        <strong>Status</strong>
        <% if @missing_item.is_missing %>
          <span class="badge bg-danger">Not claimed</span>
        <% else %>
          <span class="badge bg-success">Claimed</span>
        <% end %>
      </p>

    </div>
  </div>
</div>

