<nav class="sticky-top container-fluid" id="navbar-div">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div><h4 class="color-one">WeFoundIt</h4></div>

      <div>
        <ul class="navbar-list color-one">
          <li class="nav-item"><%= link_to "Missing Items", root_path, class: "nav-link" %></li>
          <% if user_signed_in? %>
            <li class="nav-item text-center">
              <%= link_to "Account", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item text-center">
              <%=link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <span class="nav-link-text d-block">Logout</span>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item text-center">
              <%=link_to new_user_session_path, class: "nav-link" do %>
                <span class="nav-link-text d-block">Loging</span>
              <% end %>
            </li>
            <li class="nav-item text-center">
              <%=link_to new_user_registration_path, class: "nav-link" do %>
                <span class="nav-link-text d-block">Create Account</span>
              <% end %>
            </li>
          <% end %>                      
        </ul>
      </div>
    </div>
  </div>
</nav> 